<html lang="en">
    <%- include("./Partials/head.ejs") %>

<body>
    <%- include("./Partials/nav.ejs") %>

    <div class="details content">
        <h2><%= blog.title %></h2>
        <div class="content">
            <p><%= blog.body %></p>
        </div>
        <a class="delete" data-doc="<%=blog._id %>">delete</a>
    </div>

    <%- include("./Partials/footer.ejs") %>

</body>
</html>